<%= error_messages_for 'category' %>
<div class="form_box">
  <%= uhook_category_form form %>
  <p>
    <%= form.label :name, Category.human_attribute_name("name") %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description, Category.human_attribute_name("description") %>
    <%= form.text_area :description %>
  </p>
</div>
