<h1><%= render :partial => 'title' %></h1>
<h2>
  <%= render :partial => "submenu" %>
</h2>
<%= render(:partial => "shared/ubiquo/feedback") %>

<% show_preview(Category) do |category| %>
  <%= render :partial => 'category', :object => category %>
<% end %>

<% form_for([:ubiquo, @category]) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
    <p class="form_buttons">
      <%= form.submit t('ubiquo.create') %>
      <%= button_to_function t('ubiquo.back_to_list'), "document.location.href='#{ubiquo_categories_path}'" %>
    </p>
<% end %>

<% content_for :sidebar do %>
  <%= show_translations(@category) %>
  <h3><%= t('ubiquo.help') %></h3>
  <p><%= t("ubiquo.category.new.help_message") %></p>
<% end %>
